@model AvaliacaoLP3.ViewModels.Shopping

@{
    ViewData["Title"] = "Detalhes Loja / Quiosque";
}

<h1>@Model.Store @Model.Name</h1>
<button>Excluir</button>
<hr>

<p><b>Id:</b> @Model.Id</p>
<p><b>Piso:</b> @Model.Floor</p>
<p><b>Descrição:</b> @Model.Description</p>
<p><b>Loja/Quiosque:</b> @Model.Floor</p>
<p><b>E-mail:</b> @Model.Email</p>